@import "../../styles/partials/_mixins";
@import "../../styles/partials/_variables";
/*
// .search {
// 	display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;

// 	// flex-direction: column;
// 	padding: 1.5rem;
// 	background-color: $white;
// 	border-bottom: 1px solid $cloud;

//     //*** For formatting content
//     //border-radius: 5px 5px 0px 0px;
//     //padding: 1.5rem 1rem;

// 	@include tablet {
// 		padding: 2rem;
// 		flex-direction: row;
// 		justify-content: space-between;
// 		// border-bottom: none;
// 	}

// 	@include desktop {
// 		padding: 2rem;
// 		flex-direction: row;
// 		justify-content: space-between;
// 		//border-bottom: none;
// 	}

// 	&__header {
// 		@include mobile-header;
// 		font-family: "Titillium Web Semi Bold";
// 		// margin-bottom: 1rem;
//         //***
//         margin-bottom: 0.25rem;

// 		@include tablet {
// 			margin: 0;
//             @include header;
// 		}
//         @include desktop {
//             margin: 0;
//             @include header;
//         }
// 	}
// }

// .container {

//     &__left {
//         display: flex;
//         align-items: center;
//         gap: 0.313rem;
//     }

//     @include desktop {
//         &__left {
//             gap: 1rem;
//         }
//     }

// }

// .edit-container {
//     background-color: $instock-indigo;
//     //width: 17px;
//     //height: 17px;
//     // padding: 10px;
//     //***
//     padding: 5px;
//     border-radius: 100%;
//     // border: 0px solid #fff;
//     border: none;
//     //***
//     margin-bottom: 0.25rem;

//     &:hover {
//         background-color: $graphite;
//         cursor: pointer;
//     }

//     @include tablet { 
//         color: $white;
//         height: 2.375rem;
// 		//padding: 0 1rem;
//         width: 5rem;
//         display: flex;
//         align-items: center;
//         justify-content: space-evenly;
//         border-radius: 20px;
//         margin-bottom: 0;

//         &:hover {
//             text-decoration: underline;
//         }
//     }

//     @include desktop {
//         color: $white;
//         height: 2.375rem;
//         width: 5rem;
//         display: flex;
//         align-items: center;
//         justify-content: space-evenly;
//         border-radius: 20px;
//         margin-bottom: 0;

//         &:hover {
//             text-decoration: underline;
//         }
//     }
// }

// .edit {
//     //background-color: #2E66E5;
//     //border-radius: 50%;
//     //color: #FFFFFF;
//     //fill: #FFFFFF;
//     filter: brightness(0) invert(1);
// }

// .edit-text {
//     display: none;

//     @include tablet {
//         display: contents;
//         text-decoration: underline;
//     }

//     @include desktop {
//         display: contents;
//         text-decoration: underline;
//     }
// }
*/

.warehouse-general {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

	// flex-direction: column;
	padding: 1.5rem;
	background-color: $white;
	border-bottom: 1px solid $cloud;

    //*** For formatting content
    //border-radius: 5px 5px 0px 0px;
    //padding: 1.5rem 1rem;

	&__left {
	    display: flex;
		align-items: center;
        gap: 0.313rem;
	}

    &__back-container {
      
    }

    &__back {
        &:hover {
			cursor: pointer;
		}
    }

	&__header {
		@include mobile-header;
		font-family: "Titillium Web Semi Bold";
		// margin-bottom: 1rem;
        //***
        margin-bottom: 0.25rem;

		@include tablet {
			margin: 0;
            @include header;
		}
        @include desktop {
            margin: 0;
            @include header;
        }
	}

	&__button {
	    background-color: $instock-indigo;
        padding: 5px;
        border-radius: 100%;
        border: none;
        margin-bottom: 0.25rem;
		
        &:hover {
        	background-color: $graphite;
        	cursor: pointer;
    	}

		@include tablet { 
        	color: $white;
        	height: 2.375rem;
		
        	width: 5rem;
        	display: flex;
        	align-items: center;
        	justify-content: space-evenly;
        	border-radius: 20px;
        	margin-bottom: 0;

        	&:hover {
                text-decoration: underline;
        	}
    	}

    	@include desktop {
        	color: $white;
        	height: 2.375rem;
        	width: 5rem;
        	display: flex;
        	align-items: center;
        	justify-content: space-evenly;
        	border-radius: 20px;
        	margin-bottom: 0;

        	&:hover {
                text-decoration: underline;
        	}
    	}
	}

	&__edit {
		filter: brightness(0) invert(1);
	}

	&__edit-text {
		display: none;

		@include tablet {
        	display: contents;
        	text-decoration: underline;
    	}

    	@include desktop {
        	display: contents;
        	text-decoration: underline;
    	}
	}

	@include tablet {
		padding: 2rem;
		flex-direction: row;
		justify-content: space-between;
		// border-bottom: none;
	}

	@include desktop {
		padding: 2rem;
		flex-direction: row;
		justify-content: space-between;
		//border-bottom: none;
	}
}