/*Fonts*/
@font-face {
  font-family: "Titillium Web Semi Bold";
  src: url("../../assets//fonts/TitilliumWeb-SemiBold.ttf") format(truetype);
}
@font-face {
  font-family: "Titillium Web Regular";
  src: url("../../assets//fonts/TitilliumWeb-Regular.ttf") format(truetype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Background Colors*/
/*Supporting Colors*/
/*Breakpoints*/
/*Desktop & Tablet*/
/*Mobile*/
/*List Styling*/
/*Mixin for Stock Status Styling*/
/*Fonts*/
@font-face {
  font-family: "Titillium Web Semi Bold";
  src: url("../../assets//fonts/TitilliumWeb-SemiBold.ttf") format(truetype);
}
@font-face {
  font-family: "Titillium Web Regular";
  src: url("../../assets//fonts/TitilliumWeb-Regular.ttf") format(truetype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Background Colors*/
/*Supporting Colors*/
/*Breakpoints*/
.warehouse-general {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #ffffff;
  border-bottom: 1px solid #bdc5d5;
}
.warehouse-general__left {
  display: flex;
  align-items: center;
  gap: 0.45rem;
}
.warehouse-general__back:hover {
  cursor: pointer;
}
.warehouse-general__header {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-family: "Titillium Web Semi Bold";
  margin-bottom: 0.25rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .warehouse-general__header {
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .warehouse-general__header {
    margin: 0;
  }
}
.warehouse-general__button {
  background-color: #2e66e5;
  padding: 5px;
  border-radius: 100%;
  border: none;
  margin-bottom: 0.25rem;
}
.warehouse-general__button:hover {
  background-color: #232940;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .warehouse-general__button {
    color: #ffffff;
    height: 2.375rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    margin-bottom: 0;
    padding: 0 1rem;
    gap: 0.25rem;
  }
  .warehouse-general__button:hover {
    text-decoration: underline;
  }
}
@media (min-width: 1280px) {
  .warehouse-general__button {
    color: #ffffff;
    height: 2.375rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    margin-bottom: 0;
    padding: 0 1rem;
    gap: 0.25rem;
  }
  .warehouse-general__button:hover {
    text-decoration: underline;
  }
}
.warehouse-general__edit {
  filter: brightness(0) invert(1);
}
.warehouse-general__edit-text {
  display: none;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .warehouse-general__edit-text {
    display: contents;
    text-decoration: underline;
  }
}
@media (min-width: 1280px) {
  .warehouse-general__edit-text {
    display: contents;
    text-decoration: underline;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .warehouse-general {
    padding: 2rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .warehouse-general {
    padding: 2rem;
    flex-direction: row;
    justify-content: space-between;
  }
}/*# sourceMappingURL=WarehouseHeader.css.map */