/*Fonts*/
@font-face {
	font-family: "Titillium Web Semi Bold";
	src: url("../../assets//fonts/TitilliumWeb-SemiBold.ttf") format(truetype)
};

@font-face {
	font-family: "Titillium Web Regular";
	src: url("../../assets//fonts/TitilliumWeb-Regular.ttf") format(truetype)
};

/*Primary Colors*/
$instock-black: #13182C;
$instock-indigo: #2E66E5;
$white: #FFFFFF;

/*Secondary Colors*/
$slate: #5C667E;
$cloud: #BDC5D5;

/*Background Colors*/
$graphite: #232940;
$light-grey: #F7F8F9;

/*Supporting Colors*/
$green: #158463;
$red: #C94515;

/*Breakpoints*/
$breakpoint-mobile: 767px;
$breakpoint-tablet: 1279px;
$breakpoint-desktop: 1280px;