/*Fonts*/
@font-face {
  font-family: "Titillium Web Semi Bold";
  src: url("../../assets//fonts/TitilliumWeb-SemiBold.ttf") format(truetype);
}
@font-face {
  font-family: "Titillium Web Regular";
  src: url("../../assets//fonts/TitilliumWeb-Regular.ttf") format(truetype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Background Colors*/
/*Supporting Colors*/
/*Breakpoints*/
/*Fonts*/
@font-face {
  font-family: "Titillium Web Semi Bold";
  src: url("../../assets//fonts/TitilliumWeb-SemiBold.ttf") format(truetype);
}
@font-face {
  font-family: "Titillium Web Regular";
  src: url("../../assets//fonts/TitilliumWeb-Regular.ttf") format(truetype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Background Colors*/
/*Supporting Colors*/
/*Breakpoints*/
/*Desktop & Tablet*/
/*Mobile*/
/*List Styling*/
/*Mixin for Stock Status Styling*/
.add-details__form {
  margin: 0 1rem;
}
.add-details__form-subheader {
  margin-bottom: 1rem;
  font-family: "Titillium Web Semi Bold";
  font-size: 20px;
}
.add-details__form-warehouse {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}
.add-details__form-title {
  margin: 0.25rem 0;
  font-family: "Titillium Web Semi Bold";
  font-size: 13px;
}
.add-details__form-input {
  height: 36px;
  width: 100%;
  border: solid #bdc5d5;
  border-radius: 20px;
  font-family: "Titillium Web Regular";
}
.add-details__form-input::-moz-placeholder {
  color: #5c667e;
  font-size: 13px;
}
.add-details__form-input::placeholder {
  color: #5c667e;
  font-size: 13px;
}
.add-details__form-input:focus {
  outline: none;
  border-color: #bdc5d5;
}
.add-details__form-input:focus:invalid {
  outline: none;
  border-color: red;
}
.add-details__form-input[type=text] {
  padding-left: 1rem;
}
.add-details__button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  padding-top: 2rem;
  background-color: #f7f8f9;
}
.add-details__cancel {
  padding: 0.25rem 0.75rem;
  width: 100%;
  background-color: #ffffff;
  border: solid #bdc5d5;
  border-radius: 20px;
  font-family: "Titillium Web Regular";
  font-size: 13px;
}
.add-details__add {
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: #2e66e5;
  color: #ffffff;
  border: solid #2e66e5;
  border-radius: 20px;
  font-family: "Titillium Web Semi Bold";
  font-size: 13px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .add-details {
    width: 100%;
  }
  .add-details__form {
    display: flex;
    align-items: center;
  }
  .add-details__form-warehouse {
    width: 100%;
    border-right: solid #bdc5d5;
    padding-right: 2rem;
  }
  .add-details__form-contact {
    width: 100%;
    padding-left: 2rem;
  }
  .add-details__button-container {
    justify-content: flex-end;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .add-details__add, .add-details__cancel {
    width: auto;
  }
  .add-details__cancel:hover {
    border: solid #2e66e5;
    color: #2e66e5;
  }
}
@media (min-width: 1280px) {
  .add-details {
    width: 100%;
  }
  .add-details__form {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
  }
  .add-details__form-warehouse {
    width: 100%;
    border-right: solid #bdc5d5;
    padding-right: 2rem;
  }
  .add-details__form-contact {
    width: 100%;
    padding-left: 2rem;
  }
  .add-details__button-container {
    justify-content: flex-end;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .add-details__add, .add-details__cancel {
    width: auto;
  }
  .add-details__cancel:hover {
    border: solid #2e66e5;
    color: #2e66e5;
  }
}/*# sourceMappingURL=AddWarehousesForm.css.map */