@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.add-details {
	&__form-subheader {
		padding-bottom: 0.5rem;

		font-family: "Titillium Web Semi Bold";
		font-size: 20px;

		@include tablet {
			@include subheader;
		}

		@include desktop {
			@include subheader;
		}
	}
	&__form-warehouse {
		display: flex;
		flex-direction: column;
		padding: 1rem 1.5rem 1.5rem 1.5rem;

		@include tablet {
			padding: 0rem 2rem 0.5rem 2rem;
		}

		@include desktop {
			padding: 0rem 2.5rem 0.5rem 2.5rem;
		}
	}

	&__form-contact {
		display: flex;
		flex-direction: column;
		padding: 1rem 1.5rem;
		border-top: 1px solid $cloud;

		@include tablet {
			padding: 0rem 2rem 0.5rem 2rem;
			border-top: none;
		}

		@include desktop {
			border-top: none;
			padding: 0rem 2.5rem 0.5rem 2.5rem;
		}
	}

	&__form-container {
		padding-top: 1rem;
	}

	&__form-title {
		margin: 0.25rem 0;

		font-family: "Titillium Web Semi Bold";
		font-size: 13px;

		@include tablet {
			@include label-link-button;
		}

		@include desktop {
			@include label-link-button;
		}
	}

	&__form-input {
		height: 36px;
		width: 100%;

		border: 1px solid $cloud;
		border-radius: 20px;
		font-family: "Titillium Web Regular";

		&::placeholder {
			color: $slate;
			font-size: 13px;
		}

		&:focus {
			outline: none;
			border-color: $cloud;
		}

		&:focus:invalid {
			outline: none;
			border-color: red;
		}
	}

	&__form-input[type="text"] {
		padding-left: 1rem;
	}

	&__button-container {
		display: flex;
		justify-content: center;
		gap: 1rem;

		padding: 1rem 1.5rem;

		background-color: $light-grey;
	}

	&__cancel {
		padding: 0.5rem 1rem;
		width: 100%;

		background-color: $white;
		border: 1px solid $cloud;
		color: $slate;
		border-radius: 20px;

		font-family: "Titillium Web Regular";
		font-size: 13px;
		font-weight: 600;
	}

	&__add {
		padding: 0.5rem 1rem;
		width: 100%;

		background-color: $instock-indigo;
		color: $white;
		// border: 1px solid $instock-indigo;
		border-radius: 20px;

		font-family: "Titillium Web Regular";
		font-size: 13px;
		font-weight: 600;
	}

	@include tablet {
		width: 100%;

		&__form {
			display: flex;
			align-items: center;
			padding: 1.5rem 0;
		}

		&__form-warehouse {
			width: 100%;
			border-right: 1px solid $cloud;
			padding-right: 2rem;
		}

		&__form-contact {
			width: 100%;
			padding-left: 2rem;
		}

		&__button-container {
			justify-content: flex-end;

			margin-top: 0;
			margin-left: 0;
			margin-right: 0;
		}

		&__add,
		&__cancel {
			width: auto;
			font-size: 0.875rem;
		}

		&__cancel {
			&:hover {
				border: 1px solid $instock-indigo;
				color: $instock-indigo;
			}
		}
	}
	@include desktop {
		width: 100%;

		&__form {
			display: flex;
			align-items: center;
			padding: 1.5rem 0;
		}

		&__form-warehouse {
			width: 100%;
			border-right: 1px solid $cloud;
			padding-right: 2.5625rem;
		}

		&__form-contact {
			width: 100%;
			padding-left: 2.5625rem;
		}

		&__button-container {
			justify-content: flex-end;

			margin-top: 0;
			margin-left: 0;
			margin-right: 0;
			padding: 1rem 1.5rem;
		}

		&__add,
		&__cancel {
			width: auto;
			font-size: 0.875rem;
		}

		&__cancel {
			&:hover {
				border: 1px solid $instock-indigo;
				color: $instock-indigo;
			}
		}
	}
}
