@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.editInventoryPage {
	@include list;
	flex-direction: column;

	&__container {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 1.75rem;

		border-bottom: 1px solid $cloud;
		background-color: $white;
	}

	&__title {
		padding-left: 0.25rem;

		font-size: 28px;
		font-family: "Titillium Web Semi Bold";
		line-height: 2rem;

		@include tablet {
			@include header;
		}

		@include desktop {
			@include header;
		}
	}

	&__component-container {
		background-color: $white;
	}

	@include tablet {
		margin: -5.6rem 2rem 1rem 2rem;

		&__container {
			background-color: $white;
			padding: 1.5rem 0 1.5rem 2rem;
			justify-content: flex-start;
		}
		&__component-container {
			display: flex;

			background-color: $white;
		}
	}
	@include desktop {
		margin: -6.025rem 8.125rem 1rem 8.125rem;

		&__container {
			background-color: $white;
			padding: 1.75rem;
			justify-content: flex-start;
		}
		&__component-container {
			display: flex;

			background-color: $white;
		}
	}
}
