/*Fonts*/
@font-face {
  font-family: "Titillium Web Semi Bold";
  src: url("../../assets//fonts/TitilliumWeb-SemiBold.ttf") format(truetype);
}
@font-face {
  font-family: "Titillium Web Regular";
  src: url("../../assets//fonts/TitilliumWeb-Regular.ttf") format(truetype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Background Colors*/
/*Supporting Colors*/
/*Breakpoints*/
/*Fonts*/
@font-face {
  font-family: "Titillium Web Semi Bold";
  src: url("../../assets//fonts/TitilliumWeb-SemiBold.ttf") format(truetype);
}
@font-face {
  font-family: "Titillium Web Regular";
  src: url("../../assets//fonts/TitilliumWeb-Regular.ttf") format(truetype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Background Colors*/
/*Supporting Colors*/
/*Breakpoints*/
/*Desktop & Tablet*/
/*Mobile*/
/*List Styling*/
/*Mixin for Stock Status Styling*/
.details {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.details__form-subheader {
  font-family: "Titillium Web Semi Bold";
  font-size: 24px;
  padding-bottom: 20px;
}
.details__form-warehouse {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  border-bottom: solid 1px #bdc5d5;
}
.details__form-container {
  padding-bottom: 8px;
  font-weight: 700;
}
.details__form-title {
  font-weight: 700;
  margin: 16px 0;
  font-family: "Titillium Web Regular";
}
.details__form-input {
  height: 36px;
  width: 100%;
  border: solid 1px #bdc5d5;
  border-radius: 20px;
  font-family: "Titillium Web Regular";
  padding-left: 20px;
  margin-bottom: 20px;
  height: 40px;
}
.details__form-input::-moz-placeholder {
  padding-left: 1rem;
  color: #5c667e;
}
.details__form-input::placeholder {
  padding-left: 1rem;
  color: #5c667e;
}
.details__form-input:focus {
  outline: none;
  border-color: #bdc5d5;
}
.details__form-input:focus:invalid {
  outline: none;
  border-color: red;
}
.details__form-description {
  padding-top: 8px;
  padding-bottom: 140px;
  padding-right: 24px;
  overflow: hidden;
  resize: none;
}
.details__form--radio {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}
.details__form--radio-title {
  padding-right: 30%;
}
.details__form--radioContainer {
  display: flex;
  align-items: center;
}
.details__form--selection {
  -webkit-appearance: none;
  padding-right: 20px;
  background: url("../../assets/icons/arrow_drop_down-24px.svg") no-repeat center right;
  background-position: 97%;
}
.details__form-contact {
  padding: 0 2rem;
}
.details__button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #f7f8f9;
  margin: 0;
}
.details__cancel {
  padding: 0.75rem 1rem;
  width: 100%;
  background-color: #ffffff;
  border: solid 2px #bdc5d5;
  border-radius: 20px;
  color: #5c667e;
  font-weight: 700;
  justify-content: center;
  display: flex;
}
.details__cancel--text {
  font-weight: 700;
  font-family: "Titillium Web Regular";
}
.details__save {
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: #2e66e5;
  color: #ffffff;
  border: solid #2e66e5;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-family: "Titillium Web Regular";
}
@media (min-width: 768px) and (max-width: 1279px) {
  .details {
    width: 100%;
  }
  .details__form {
    display: flex;
    align-items: center;
  }
  .details__form-warehouse {
    width: 100%;
    border-right: solid #bdc5d5;
    padding-right: 2rem;
  }
  .details__form-contact {
    width: 100%;
    padding-left: 2rem;
  }
  .details__button-container {
    justify-content: flex-end;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .details__save, .details__cancel {
    width: auto;
  }
  .details__cancel:hover {
    border: solid #2e66e5;
    color: #2e66e5;
  }
}
@media (min-width: 1280px) {
  .details {
    width: 100%;
  }
  .details__form {
    display: flex;
    align-items: center;
  }
  .details__form-warehouse {
    width: 100%;
    border-right: solid #bdc5d5;
    padding-right: 2rem;
  }
  .details__form-contact {
    width: 100%;
    padding-left: 2rem;
  }
  .details__button-container {
    justify-content: flex-end;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .details__save, .details__cancel {
    width: auto;
  }
  .details__cancel:hover {
    border: solid #2e66e5;
    color: #2e66e5;
  }
}/*# sourceMappingURL=EditInventoryForm.css.map */