@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.details {
  margin: 0;
  padding: 0; 
  background-color: $white;

  &__form-subheader {
    font-family: "Titillium Web Semi Bold";
    font-size: 24px;  
    padding-bottom: 20px;
  }

  &__form-warehouse {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;
    border-bottom: solid 1px $cloud;
  }

  &__form-container{
    padding-bottom: 8px;
    font-weight: 700;
  }

  &__form-title {
    font-weight: 700;
    margin: 16px 0;
    font-family: "Titillium Web Regular";
  }

  &__form-input {
    height: 36px;
    width: 100%;
    border: solid 1px $cloud;
    border-radius: 20px;
    font-family: "Titillium Web Regular";
    padding-left: 20px;
    margin-bottom: 20px;
    height: 40px;

    &::placeholder {
      padding-left: 1rem;
      color: $slate;
    }

    &:focus {
      outline: none;
      border-color: $cloud;
    }

    &:focus:invalid {
      outline: none;
      border-color: red;
    }
  }

  &__form-description{
    padding-top: 8px;
    padding-bottom: 140px;
    padding-right: 24px;
    overflow: hidden;
    resize: none;
  }

  &__form--radio{
    height: 16px;
    width: 16px;
    margin-right: 8px;
  }

  &__form--radio-title{
    padding-right: 30%;
  }

  &__form--radioContainer{
    display: flex;
    align-items: center;
  }

  &__form--selection{
    -webkit-appearance: none;
    padding-right: 20px;
    background: url("../../assets/icons/arrow_drop_down-24px.svg") no-repeat center right;
    background-position: 97%;
  }

  &__form-contact{
    padding: 0 2rem;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    background-color: $light-grey;
    margin: 0;
  }

  &__cancel{
    padding: 0.75rem 1rem;
    width: 100%;

    background-color: $white;
    border: solid 2px $cloud;
    border-radius: 20px;
    color: $slate;
    font-weight: 700;
    justify-content: center;
    display: flex;

    &--text{
      //align-self: center;
      font-weight: 700;
      font-family: "Titillium Web Regular";
    }
  }

  &__save {
    padding: 0.5rem 1rem;
    width: 100%;

    background-color: $instock-indigo;
    color: $white;
    border: solid $instock-indigo;
    border-radius: 20px;
    font-weight: 600;
    letter-spacing: 0.05rem;

    font-family: "Titillium Web Regular";
  }

  @include tablet {
    width: 100%;

    &__form {
      display: flex;
      align-items: center;
    }

    &__form-warehouse {
      width: 100%;
      border-right: solid $cloud;
      padding-right: 2rem;
    }

    &__form-contact {
      width: 100%;
      padding-left: 2rem;
    }

    &__button-container {
      justify-content: flex-end;

      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }

    &__save,
    &__cancel {
      width: auto;
    }

    &__cancel {
      &:hover {
        border: solid $instock-indigo;
        color: $instock-indigo;
      }
    }
  }
  
  @include desktop {
    width: 100%;

    &__form {
      display: flex;
      align-items: center;
    }

    &__form-warehouse {
      width: 100%;
      border-right: solid $cloud;
      padding-right: 2rem;
    }

    &__form-contact {
      width: 100%;
      padding-left: 2rem;
    }

    &__button-container {
      justify-content: flex-end;

      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }

    &__save,
    &__cancel {
      width: auto;
    }

    &__cancel {
      &:hover {
        border: solid $instock-indigo;
        color: $instock-indigo;
      }
    }
  }
}
