@import "../../styles/partials/_mixins";
@import "../../styles/partials/_variables";

.warehouse-info {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 1.5rem;
	background-color: $white;

	&__address {
		display: flex;
		padding: 1rem 0rem;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0.25rem;
	}

	&__title {
		@include mobile-body-small;
		color: $slate;
		font-family: "Titillium Web Regular";
		font-weight: 600;
		padding-bottom: 0.25rem;
		width: -webkit-fill-available;
	}

	&__body {
		@include mobile-body-medium;
		margin: 0;
		white-space: initial;
	}

	&__container {
		display: flex;
		gap: 20%;
		justify-content: space-between;
		padding: 1rem 0rem;
	}

	&__contact {
		&--name,
		&--info {
			display: flex;
			flex-direction: column;
			width: -webkit-fill-available;
		}
	}

	@include tablet {
		padding: 1.5rem 2rem;
		flex-direction: row;
		justify-content: space-between;
		border-bottom: none;

		&__address {
			width: 25%;
			padding: 0rem;
			gap: 0.25rem;
		}

		&__title {
			@include table-header;
			color: $slate;
			margin: 0;
		}

		&__body {
			@include body-medium;
		}

		&__container {
			gap: 2.5rem;
			border-left: 1px solid $cloud;
			padding: 0rem 0rem 0rem 3rem;
			width: 55%;
		}

		&__contact {
			&--name,
			&--info {
				gap: 0.25rem;
			}
		}
	}

	@include desktop {
		padding: 1.5rem 2rem;
		flex-direction: row;
		justify-content: space-between;
		border-bottom: none;

		&__address {
			padding: 0rem;
			gap: 0.25rem;
			width: 15%;
		}

		&__title {
			@include table-header;
			margin: 0;
		}

		&__body {
			@include body-medium;
			margin: 0;
		}

		&__container {
			border-left: 1px solid $cloud;
			padding: 0rem 11rem 0rem 2.5rem;
			width: 55%;
		}

		&__contact {
			&--name,
			&--info {
				gap: 0.25rem;
			}
		}
	}
}
