@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.footer {
  display: flex;
  justify-content: center;

  background-color: $light-grey;
  padding: 2.5rem 0;

  &__content {
    font-size: 11px;
    color: $instock-black;
  }

  @include tablet {
    &__content {
      font-size: 12px;
    }
  }
  @include desktop {
    padding: 3rem;
    &__content {
      font-size: 12px;
    }
  }
}
